* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

.header {
    width: 100%;
    height: 80px;
    display: block;
    background-color: #101010;
    /* background-color: white; */
}


.inner-header {
    width: 90%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.logo-container {
    height: 100%;
    display: table;
    float: left;
}

.logo-container > h1 {
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-size: 32px;
    font-weight: 100;
    cursor: pointer;
}

.logo-container > h1 > span {
    font-weight: 1000;
}

.navigation {
    float: right;
    height: 100%;
}

.navigation > a:hover {
    background: rgba(100, 100, 100, 0.5);
    border-radius: 25px;
}

.navigation > a {
    display: table;
    height: 100%;
    float: left;
    padding: 0px 20px;
}

/* .navigation > a:last-child {
    padding-right: 0;
} */

.navigation > a > li {
    display: table-cell;
    vertical-align: middle;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100%;
    color: white;
    font-size: 20px;
    cursor: pointer;
    text-transform: uppercase;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 30px;
    margin-left: 10px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 952px){
    .header > .inner-header > .logo-container > h1{
        font-size: 24px;
    }
    .navigation > a > li {
        font-size: 15px;
    }
}

@media (max-width: 700px){
    .checkbtn {
        display: block;
    }

    .navigation{
        position: fixed;
        display: table;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: 0;
        text-align: center;
        transition: all .5s;
    }

    .navigation > a {
        margin-top: 10px;
        margin-bottom: 10px;
        height: auto;
        width: 100%;
        display: block;
        float: left;
    }

    .navigation > a > li {
        text-align: center;
        float:left;
        width: 100%;
    }

    /* #check:checked ~ ul{
        left: 0;
    }    */
    
}